<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.actor.list}"></title>
</head>
<body style="overflow: visible;">

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>celebrity list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a th:href="@{/trang-chu}">Trang chủ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Danh sách diễn viên</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- celebrity grid v1 section-->
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Tìm thấy <span><div th:text="${items.totalItems}" th:remove="tag"></div> diễn viên</span></p>
                    <a href="" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="celebrity-items">
                    <div class="ceb-item" th:each="actor: ${items.listResult}">
                        <a href="#"><img th:src="@{${actor.avatarUrl}}" style="height: 300px;width: 270px"></a>
                        <div class="ceb-infor">
                            <h2><a href="celebritylist.html" th:text="${actor.name}"></a></h2>
                            <span>actor</span>
                        </div>
                    </div>

                </div>
                <div class="topbar-filter">
                    <label> Diễn viên trên mỗi trang:</label>
                    <select id="select-limit" th:field="${items.limit}">
                        <option value="5">5 diễn viên</option>
                        <option value="10">10 diễn viên</option>
                        <option value="15">15 diễn viên</option>
                        <option value="20">20 diễn viên</option>
                    </select>

                    <div class="pagination2">
                        <span style="float: left;"
                              th:text="'Trang ' + ${items.page} + ' trên ' + ${items.totalPage} + ' :'">Trang 1 trên 2:</span>
                        <ul class="pagination" id="pagination" style="margin: 0;"></ul>
                    </div>
                    <form th:action="@{/danh-sach-dien-vien}" method="get" id="form-search">
                        <input type="hidden" name="limit" id="limit" th:value="${items.limit}">
                        <input type="hidden" name="page" id="page" th:value="${items.page}">
                        <input type="hidden" name="search" th:value="${items.search}">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end of celebrity grid v1 section-->
<!-- footer section-->
<script th:inline="javascript">
    $(document).ready(function () {
        pagingActor();
    });


    function pagingActor() {
        /*<![CDATA[*/
        var totalPage = /*[[${items.totalPage}]]*/;
        var currentPage =/*[[${items.page}]]*/;
        /*]]>*/

        $(function () {
            window.pagObj = $('#pagination').twbsPagination({
                totalPages: totalPage,
                startPage: currentPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    if (currentPage != page) {
                        $('#page').val(page);
                        $('#form-search').submit();
                    }
                }
            })
        });
    }

    $('#select-sort').change(function () {
        var value = $('#select-sort').val();
        $('<input>').attr({
            type: 'hidden',
            value: value,
            name: 'sort'
        }).appendTo('#form-search');
        $('#form-search').submit();
    });

    $('#select-limit').change(function () {
        $('#limit').val($('#select-limit').val());
        $('#form-search').submit();
    });

</script>
</body>


<!-- celebritygrid0111:44-->
<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe></body>
</html>