<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.home.page}"></title>
</head>
<body>
<div class="slider movie-items">
    <div class="container">
        <div class="row">
            <div class="slick-multiItemSlider">
                <div class="movie-item" th:each="film : ${filmNews}">
                    <div class="mv-img">
                        <a th:href="@{'/film/'+${film.code}+'-'+${film.id}}"><img th:src="@{${film.image1Url}}" alt="" width="285" height="437"></a>
                    </div>
                    <div class="title-in">
                        <div class="cate">
                            <span class="blue"><a th:href="@{'/phim/the-loai/'+${film.categories.get(0).code}}" th:text="${film.categories.get(0).name}"></a></span>
                        </div>
                        <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                        <div style="width: 100%;">
                            <p style="float: left"><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                            <p style="float: right"><span th:text="${film.view}"></span> lượt xem</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="movie-items">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8">
                <div class="title-hd">
                    <h2 th:href="@{'/phim/phim-le'}" >Phim lẻ</h2>
                    <a th:href="@{'/phim/phim-le'}" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab1">#Phổ biến</a></li>
                        <li><a href="#tab2"> #Sắp có</a></li>
                        <li><a href="#tab3"> #Top sắp hạng </a></li>
                        <li><a href="#tab4"> #Được đánh giá nhiều nhất</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it" th:each="film:${filmles}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem phim <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem" >
                                    <div class="slide-it" th:each="film: ${filmCommings} ">
                                        <div class="movie-item" >
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a  th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it " th:each="film :${filmTop}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a  th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it" th:each="film :${filmVote}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a  th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem phim <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-hd">
                    <h2 th:href="@{'/phim/phim-le'}">Phim Bộ</h2>
                    <a th:href="@{'/phim/phim-bo'}" class="viewall">Xem tất cả <i  class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab21">#Phổ biến</a></li>
                        <li><a href="#tab22"> #Sắp có</a></li>
                        <li><a href="#tab23"> #Top sắp hạng </a></li>
                        <li><a href="#tab24"> #Được đánh giá nhiều nhất</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab21" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it" th:each="film :${filmBoPhoBien}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem Phim <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab22" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it" th:each="film :${filmBoCommings}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem Phim <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tab23" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it" th:each="film :${filmBoTop}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem Phim <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tab24" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    <div class="slide-it" th:each="film :${filmBoVote}">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="@{${film.image1Url}}" alt="" width="185" height="284">
                                            </div>
                                            <div class="hvr-inner">
                                                <a th:href="@{'/film/'+${film.code}+'-'+${film.id}}"> Xem Phim <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}" th:text="${film.name}"></a></h6>
                                                <p><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div th:replace="fragments/web::facebook"></div>
                    <div class="celebrities">
                        <h4 class="sb-title"> Người diễn viên nổi bật</h4>
                        <div class="celeb-item" th:each="actor : ${actors}">
                            <a th:href="@{'/thong-tin-dien-vien/'+${actor.code}+'-'+${actor.id}}"><img th:src="@{${actor.avatarUrl}}" alt="" width="70" height="70"></a>
                            <div class="celeb-author">
                                <h6><a th:href="@{'/thong-tin-dien-vien/'+${actor.code}+'-'+${actor.id}}" th:text="${actor.name}"></a></h6>
                                <span th:text="#{label.actor}"></span>
                            </div>
                        </div>
                        <a th:href="@{/danh-sach-dien-vien}" class="btn">Xem tất cả những người nổi tiếng<i class="ion-ios-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>