<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.film.info}"></title>
</head>
<body>
<div class="hero mv-single-hero"
     th:style="'background:url(' + @{${film.image2Url}} + ') no-repeat;  background-position: center; background-size: cover'">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single blog-detail-ct">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb" th:each="film : ${film}">
                    <img th:src="@{${film.image1Url}}" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Xem Trailer</a></div>
                            <div><a th:href="${film.trailerYoutube}" th:if="${!#strings.isEmpty(film.trailerYoutube)}"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                                <a href="#media" th:if="${#strings.isEmpty(film.trailerYoutube)}"
                                   class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                            </div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a th:href="@{'/film/'+${film.code}+'-'+${film.id}+'/1'}"
                                    class="item item-1 yellowbtn"> <i class="ion-card"></i> Xem phim</a></div>
                            <div><a th:href="@{'/film/'+${film.code}+'-'+${film.id}+'/1'}"
                                    class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd" th:text="${film.name}"><span th:text="${film.year}"></span></h1>
                    <div class="social-btn">
                        <a href="#" class="parent-btn " id="btn-yeu-thich"><i class="ion-heart"></i> Yêu Thích</a>
                        <a href="#" class="parent-btn" id="btn-them-tu-phim"><i class="fas fa-plus"></i> Thêm Vào Tủ
                            Phim</a>

                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p><span th:text="${film.scores}" id="film-scores"></span> /10<br>
                                <span class="rv"></span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Đánh Giá</p>
                            <i class="ion-ios-star-outline" data-value="1"></i>
                            <i class="ion-ios-star-outline" data-value="2"></i>
                            <i class="ion-ios-star-outline" data-value="3"></i>
                            <i class="ion-ios-star-outline" data-value="4"></i>
                            <i class="ion-ios-star-outline" data-value="5"></i>
                            <i class="ion-ios-star-outline" data-value="6"></i>
                            <i class="ion-ios-star-outline" data-value="7"></i>
                            <i class="ion-ios-star-outline" data-value="8"></i>
                            <i class="ion-ios-star-outline" data-value="9"></i>
                            <i class="ion-ios-star-outline" data-value="10"></i>
                            <p th:if="${!#strings.isEmpty(evaluate.scores)}" id="rate-star-scores">Bạn đã đánh giá <span
                                    th:text="${evaluate.scores}"></span> điểm</p>
                        </div>
                        <form action="" id="form-evaluate">
                            <input type="hidden" th:value="${evaluate.scores}" name="scores">
                            <input type="hidden" th:value="${evaluate.watched}" name="watched">
                            <input type="hidden" th:value="${evaluate.follow}" name="follow">
                            <input type="hidden" th:value="${evaluate.liked}" name="liked">
                        </form>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Giới thiệu</a></li>
                                <li><a href="#comments" id="comment-tab">Bình luận</a></li>
                                <li><a href="#media"> trailer</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p th:utext="${film.description}"></p>

                                            <div class="title-hd-sm">
                                                <h4 th:text="#{label.actor}"></h4>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                <div class="cast-it" th:each="actor :${film.actors}">
                                                    <div class="cast-left">
                                                        <img th:src="@{${actor.avatarUrl}}" alt=""
                                                             style="width:40px;height: 40px;">
                                                        <a href="#" th:text="${actor.name}"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- movie user review -->

                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Đạo diễn: </h6>
                                                <p><a href="#" th:text="${film.director.name}"></a></p>
                                            </div>
                                            <div class="ads">
                                                <img th:src="@{/template/web/images/uploads/ads1.png}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="comments" class="tab review">
                                    <div class="comments">
                                        <h4 th:text="${film.totalComment}+' Bình luận'"></h4>
                                        <div id="new-comment"></div>
                                        <th:block th:each="comment: ${film.comments}">
                                            <div class="cmt-item flex-it" th:id="cm_+${comment.id}">
                                                <img th:src="@{${comment.user.photoUrl}}" alt=""
                                                     style="width: 65px;height: 65px; border-radius:50px; ">
                                                <div class="author-infor">
                                                    <div class="flex-it2">
                                                        <h6><a href="#" th:text="${comment.user.userName}"></a></h6>
                                                        <span class="time" th:text="${comment.thoiGianDang}"></span>
                                                    </div>
                                                    <p th:text="${comment.content}" class="cm-content"
                                                       style="min-width: 600px;"></p>
                                                    <p><a class="rep-btn" th:onclick="showReplyCm([[${comment.id}]])">+
                                                        Trả lời</a></p>
                                                    <p th:if="${comment.subCommentCount>0}" class="show-subcomment"
                                                       th:onclick="loadSubComment([[${comment.id}]])"
                                                       th:text="'Xem phản hồi'"></p>
                                                    <div class="evaluate">
                                                        <span th:text="${comment.totalLike}"
                                                              th:id="totalLike+${comment.id}"></span>
                                                        <p class="like-cm" sec:authorize="hasRole('USER')"
                                                           th:onclick="likeComment([[${comment.id}]])"
                                                           th:id="like-cm_+${comment.id}">
                                                            <i class="fas fa-thumbs-up"
                                                               th:if="${comment.like == 1}"></i>
                                                            <i class="far fa-thumbs-up"
                                                               th:if="${comment.like != 1}"></i>
                                                            <input type="hidden" th:name="comment_like_+${comment.id}"
                                                                   th:id="ip-content_+${comment.id}"
                                                                   th:value="${comment.like}">
                                                        </p>
                                                        <p class="like-cm" sec:authorize="!hasRole('USER')"
                                                           th:id="like-cm_+${comment.id}">
                                                            <i class="far fa-thumbs-up"></i>
                                                        </p>
                                                        <p class="delete-cm" sec:authorize="hasRole('USER')"
                                                           th:onclick="warningBeforeDelete([[${comment.id}]])"
                                                           th:if="${comment.user.id.equals(#authentication.principal.id)}">
                                                            <i class="far fa-trash-alt"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:id="new-sub-cm_+${comment.id}"></div>
                                            <div th:class="'sub-comment_'+${comment.id}">
                                                <input type="hidden" th:id="'sub-page_'+${comment.id}" value="1">
                                            </div>
                                        </th:block>
                                        <div id="comment_list">
                                            <input type="hidden" id="comment-page" name="page" value="1">
                                            <p class="show-comment" th:onclick="loadComment([[${film.id}]],2)">
                                                Xem thêm bình luận</p>
                                        </div>
                                    </div>
                                    <div class="comment-form">
                                        <h4 th:text="#{label.comment.please}"></h4>
                                        <div class="cmt-item flex-it hide" id="cm-reply">
                                            <div class="author-infor">
                                                <div class="flex-it2">
                                                    <h6><a href="#"></a></h6>
                                                    <span class="time"></span>
                                                </div>
                                                <div class="close"><a><i class="fas fa-times"></i></a></div>
                                                <p id="reply-content" style="min-width: 600px;"></p>
                                            </div>
                                        </div>
                                        <form action="#" id="form-comment">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea name="content" id="comment-content-txt"
                                                              th:placeholder="#{label.comment}"></textarea>
                                                </div>
                                                <input type="hidden" name="film.id" th:value="${film.id}">
                                                <input type="hidden" id="reply-cm-id">
                                            </div>
                                            <input class="submit" type="submit" placeholder="submit">
                                        </form>
                                    </div>
                                </div>
                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Trailer phim</h3>
                                                <h2 th:text="${film.name}"></h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Trailer <span></span></h4>
                                        </div>
                                        <div class="mvsingle-item media-item">
                                            <div class="trailer-youtube"
                                                 th:if="${!#strings.isEmpty(film.trailerYoutube)}"
                                                 th:utext="${film.trailerYoutube}">

                                            </div>
                                            <div class="trailer-n"
                                                 th:if="${!#strings.isEmpty(film.trailerUrl) && #strings.isEmpty(film.trailerYoutube)}">
                                                <!-- end player -->
                                                <video width="100%" controls>
                                                    <source th:src="${film.trailerUrl}" id="trailer-video">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="ip-filmId" name="filmId" th:value="${film.id}">
    </div>
</div>
<script th:src="@{/template/web/js/comment.js}"></script>
<script>
    $(document).ready(function () {
        showLike();
        showFollow();
        showVote();
    });
    var clickedFlag = false;

    function showLike() {
        var like = $('#form-evaluate input[name="liked"]').val();
        if (like == 1) {
            $('#btn-yeu-thich').addClass("active");
        }
    }

    function showFollow() {
        var follow = $('#form-evaluate input[name="follow"]').val();
        if (follow == 1) {
            $('#btn-them-tu-phim').addClass("active");
        }
    }

    function showVote() {
        var scores = $('#form-evaluate input[name="scores"]').val();
        if (scores != undefined && scores != "") {
            var star = $('.rate-star i[data-value="' + scores + '"]');
            $(star).removeClass("ion-ios-star-outline").prevAll(".rate-star i").removeClass("ion-ios-star-outline");
            $(star).addClass("ion-ios-star").prevAll(".rate-star i").addClass("ion-ios-star");
            $(star).nextAll(".rate-star i").removeClass("ion-ios-star");
            $(star).nextAll(".rate-star i").addClass("ion-ios-star-outline");
            clickedFlag = true;
        }
    }

    $('#btn-them-tu-phim').click(function (e) {
        e.preventDefault();
        var filmId = $('#ip-filmId').val();
        var url = "/api/evaluate/follow/" + filmId;
        var ip_follow = $('#form-evaluate input[name="follow"]');
        var follow = 0;
        if (ip_follow.val() == undefined || ip_follow.val() == 0) {
            follow = 1;
        }
        var data = follow;
        $.ajax({
            url: url,
            type: "put",
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (rs) {
                ip_follow.val(rs);
                if (rs == 1) {
                    $('#btn-them-tu-phim').addClass("active");
                } else {
                    $('#btn-them-tu-phim').removeClass("active");
                }
            },
            error: function (error) {
            }
        });
    });

    $('#btn-yeu-thich').click(function (e) {
        e.preventDefault();
        var filmId = $('#ip-filmId').val();
        var url = "/api/evaluate/like/" + filmId;
        var ip_like = $('#form-evaluate input[name="liked"]');
        var like = 0;
        if (ip_like.val() == undefined || ip_like.val() == 0) {
            like = 1;
        }
        var data = like;
        $.ajax({
            url: url,
            type: "put",
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (rs) {
                ip_like.val(rs);
                if (rs == 1) {
                    $('#btn-yeu-thich').addClass("active");
                } else {
                    $('#btn-yeu-thich').removeClass("active");
                }
            },
            error: function (error) {
            }
        });
    });
    $(".rate-star i").mouseover(function () {
        if (!clickedFlag) {
            $(this).removeClass("ion-ios-star-outline").prevAll(".rate-star i").removeClass("ion-ios-star-outline");
            $(this).addClass("ion-ios-star").prevAll(".rate-star i").addClass("ion-ios-star");
            $(this).nextAll(".rate-star i").removeClass("ion-ios-star");
            $(this).nextAll(".rate-star i").addClass("ion-ios-star-outline");
        }
    });
    $(".rate-star i").mouseout(function () {
        if (!clickedFlag) {
            $(this).removeClass("ion-ios-star");
            $(this).addClass("ion-ios-star-outline");
        }
    });
    /* $(".rate-star").mouseout(function () {
         if (!clickedFlag) {
             $(this).removeClass("ion-ios-star");
             $(this).addClass("ion-ios-star-outline");
         }
     });*/
    $(".rate-star i").click(function () {
        if (clickedFlag == true) {
            clickedFlag = false;
        } else {
            clickedFlag = true;
            var url = "/api/evaluate/scores/" + $('#ip-filmId').val();
            var data = $(this).attr("data-value");
            $.ajax({
                url: url,
                type: "put",
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (rs) {
                    $('#film-scores').text(rs.filmScores);
                    $('#form-evaluate input[name="scores"]').val(rs.scores);
                    if ($('#rate-star-scores').val() != undefined) {
                        $('#rate-star-scores span').text(rs.scores);
                    } else {
                        $('.rate-star').append(" <p id='rate-star-scores'>Bạn đã đánh giá <span>" + rs.scores + "</span> điểm</p>");
                    }
                },
                error: function (error) {
                }
            });
        }
    });
</script>
</body>
</html>