<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.film.info}"></title>
    <link rel="stylesheet" th:href="@{/template/web/css/custom-pagination.css}">
    <!--    <link rel="stylesheet" th:href="@{/template/web/css/plyr.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/template/web/css/ionicons.min.css}">-->
</head>
<body>
<div class="hero mv-single-hero"
     th:style="'background:url(' + @{${film.image2Url}} + ') no-repeat;  background-position: center; background-size: cover'">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single blog-detail-ct">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb" th:each="film : ${film}">
                    <img th:src="@{${film.image1Url}}" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Xem Trailer</a></div>
                            <div><a href="https://www.youtube.com/embed/o-0hcF97wy0"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                            </div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Xem phim</a></div>
                            <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd" th:text="${film.name}"><span th:text="${film.year}"></span></h1>
                    <div class="social-btn">
                        <a href="#" class="parent-btn"><i class="ion-heart"></i> Thêm Phim Yêu Thích</a>
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Chia sẽ</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p><span th:text="${film.scores}"></span> /10<br>
                                <span class="rv"></span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Đánh Giá</p>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Giới thiệu</a></li>
                                <li><a href="#comments" id="comment-tab">Bình luận</a></li>
                                <li><a href="#media"> trailer</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p th:utext="${film.description}"></p>

                                            <div class="title-hd-sm">
                                                <h4>cast</h4>
                                                <a href="#" class="time">Full Cast & Crew <i
                                                        class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                <div class="cast-it" th:each="actor :${film.actors}">
                                                    <div class="cast-left">
                                                        <img th:src="@{${actor.avatarUrl}}" alt=""
                                                             style="width:40px;height: 40px;">
                                                        <a href="#" th:text="${actor.name}"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- movie user review -->

                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Đạo diễn: </h6>
                                                <p><a href="#" th:text="${film.director.name}"></a></p>
                                            </div>
                                            <div class="ads">
                                                <img th:src="@{/template/web/images/uploads/ads1.png}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="comments" class="tab review">
                                    <div class="comments">
                                        <h4 th:text="${film.totalComment}+' Bình luận'"></h4>
                                        <div id="new-comment"></div>
                                        <th:block th:each="comment: ${film.comments}">
                                            <div class="cmt-item flex-it" th:id="cm_+${comment.id}">
                                                <img th:src="@{${comment.user.photoUrl}}" alt=""
                                                     style="width: 65px;height: 65px; border-radius:50px; ">
                                                <div class="author-infor">
                                                    <div class="flex-it2">
                                                        <h6><a href="#" th:text="${comment.user.userName}"></a></h6>
                                                        <span class="time" th:text="${comment.thoiGianDang}"></span>
                                                    </div>
                                                    <p th:text="${comment.content}" class="cm-content"
                                                       style="min-width: 600px;"></p>
                                                    <p><a class="rep-btn" th:onclick="showReplyCm([[${comment.id}]])">+
                                                        Trả lời</a></p>
                                                    <p th:if="${comment.subCommentCount>0}" class="show-subcomment"
                                                       th:onclick="loadSubComment([[${comment.id}]])"
                                                       th:text="'Xem phản hồi'"></p>
                                                    <div class="evaluate">
                                                        <span th:text="${comment.totalLike}"></span>
                                                        <p class="like-cm">
                                                            <i class="fas fa-thumbs-up"></i>
                                                        </p>
                                                        <p class="delete-cm" sec:authorize="hasRole('USER')"
                                                           th:onclick="warningBeforeDelete([[${comment.id}]])"
                                                           th:if="${comment.user.id.equals(#authentication.principal.id)}">
                                                            <i class="far fa-trash-alt"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:id="new-sub-cm_+${comment.id}"></div>
                                            <div th:class="'sub-comment_'+${comment.id}">
                                                <input type="hidden" th:id="'sub-page_'+${comment.id}" value="1">
                                            </div>
                                        </th:block>
                                        <div id="comment_list">
                                            <input type="hidden" id="comment-page" name="page" value="1">
                                            <p class="show-comment" th:onclick="loadComment([[${film.id}]],2)">
                                                Xem thêm bình luận</p>
                                        </div>
                                    </div>
                                    <div class="comment-form">
                                        <h4 th:text="#{label.comment.please}"></h4>
                                        <div class="cmt-item flex-it hide" id="cm-reply">
                                            <div class="author-infor">
                                                <div class="flex-it2">
                                                    <h6><a href="#"></a></h6>
                                                    <span class="time"></span>
                                                </div>
                                                <div class="close"><a><i class="fas fa-times"></i></a></div>
                                                <p id="reply-content" style="min-width: 600px;"></p>
                                            </div>
                                        </div>
                                        <form action="#" id="form-comment">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea name="content" id="comment-content-txt"
                                                              th:placeholder="#{label.comment}"></textarea>
                                                </div>
                                                <input type="hidden" name="film.id" th:value="${film.id}">
                                                <input type="hidden" id="reply-cm-id">
                                            </div>
                                            <input class="submit" type="submit" placeholder="submit">
                                        </form>
                                    </div>
                                </div>
                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Trailer phim</h3>
                                                <h2 th:text="${film.name}"></h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Trailer <span></span></h4>
                                        </div>
                                        <div class="mvsingle-item media-item">
                                            <div class="trailer-youtube"
                                                 th:if="${!#strings.isEmpty(film.trailerYoutube)}"
                                                 th:utext="${film.trailerYoutube}">

                                            </div>
                                            <div class="trailer-n"
                                                 th:if="${!#strings.isEmpty(film.trailerUrl) && #strings.isEmpty(film.trailerYoutube)}">
                                                <!-- end player -->
                                                <video width="100%" controls>
                                                    <source th:src="${film.trailerUrl}" id="trailer-video">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="ip-filmId" name="filmId" th:value="${film.id}">
    </div>
</div>
<script>
    $(document).ready(function () {

    });

    function loadComment(filmId, page) {
        var url = "/ajax/comment/list?filmId=" + filmId + "&page=" + page;
        $.get(url, function (data) {
            $("#comment_list").replaceWith($(data));
        });
    }

    function loadSubComment(id) {
        var page = $('#sub-page_' + id).val();
        var filmId = $('#ip-filmId').val();
        $.get("/ajax/subComment/list?commentId=" + id + "&filmId=" + filmId + "&page=" + page, function (data) {
            var scm = ".sub-comment_" + id;
            $(scm).replaceWith($(data));
        });
    }

    function loadSubComment2(id, page) {
        var filmId = $('#ip-filmId').val();
        $.get("/ajax/subComment/list?commentId=" + id + "&filmId=" + filmId + "&page=" + page, function (data) {
            var scm = ".sub-comment-list_" + id;
            $(scm).replaceWith($(data));
        });
    }

    $('#form-comment').submit(function (e) {
        e.preventDefault();
        var filmId = $('#filmId').val();
        var formData = $('#form-comment').serializeArray();
        var data = convertToJson(formData);
        var url = "/api/film/comment";
        commentApi(data, url, "post", undefined);
    });

    function commentApi(data, url, method, action) {
        $.ajax({
            url: url,
            type: method,
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (id) {
                if ($('#reply-cm-id').val() != "") {
                    loadNewSubComment($('#reply-cm-id').val(), id);
                } else {
                    loadNewComment(id);
                }
                $('#comment-content-txt').val("");
            },
            error: function (error) {
                action();
            }
        });
    }

    function loadNewComment(id) {
        $.get("/ajax/comment/new?id=" + id, function (data) {
            $("#new-comment").replaceWith($(data));
        });
    }

    function loadNewSubComment(cmid, scmid) {
        $.get("/ajax/sub-comment/new?id=" + scmid, function (data) {
            $("#new-sub-cm_" + cmid).replaceWith($(data));
        });
    }


    function showReplyCm(id) {
        var cmo = $('#cm_' + id);
        var cm = $('#cm-reply');
        cm.find("h6").find("a").text(cmo.find("h6").text());
        cm.find("span").text(cmo.find("span").text());
        cm.find("#reply-content").text(cmo.find(".cm-content").text());
        $('#reply-cm-id').attr({
            value: id,
            name: 'comment.id'
        });
        cm.removeClass("hide");
    }

    $('#cm-reply .close a').click(function () {
        var cm = $('#cm-reply');
        cm.addClass("hide");
        $('#reply-cm-id').attr({
            name: '',
            value: ''
        });
    });

    function warningBeforeDelete(x) {
        if (x != null) {
            showAlertBeforeDelete(function () {
                deleteComment([x], function () {
                    $('#cm_' + x).remove();
                    $('.scm_' + x).remove();
                    $('#new-sub-cm_' + x).remove();
                    $('.sub-comment_' + x).remove();
                });
            });
        } else {
            showAlertBeforeDelete(function () {
                var ids = $('tbody input[type=checkbox]:checked').map(function () {
                    return $(this).val();
                }).get();
                deleteComment(ids);
            });
        }
    }

    var apiComment = "/api/film/comment";

    function deleteComment(data, action) {
        $.ajax({
            url: apiComment,
            type: 'DELETE',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                action();
            },
            error: function (result) {
            }
        });
    }
</script>
</body>
</html>