<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.film.info}"></title>
    <link rel="stylesheet" th:href="@{/template/web/css/custom-pagination.css}">
    <!--    <link rel="stylesheet" th:href="@{/template/web/css/plyr.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/template/web/css/ionicons.min.css}">-->
</head>
<body>
<div class="hero mv-single-hero"
     th:style="'background:url(' + @{${film.image2Url}} + ') no-repeat;  background-position: center; background-size: cover'">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single blog-detail-ct">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb" th:each="film : ${film}">
                    <img th:src="@{${film.image1Url}}" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Xem Trailer</a></div>
                            <div><a href="https://www.youtube.com/embed/o-0hcF97wy0"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                            </div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Xem phim</a></div>
                            <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd" th:text="${film.name}"><span th:text="${film.year}"></span></h1>
                    <div class="social-btn">
                        <a href="#" class="parent-btn"><i class="ion-heart"></i> Thêm Phim Yêu Thích</a>
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Chia sẽ</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p><span th:text="${film.scores}"></span> /10<br>
                                <span class="rv"></span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Đánh Giá</p>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star-outline"></i>
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Giới thiệu</a></li>
                                <li><a href="#comments" id="comment-tab">Bình luận</a></li>
                                <li><a href="#cast"> Diễn viên </a></li>
                                <li><a href="#media"> trailer</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p th:utext="${film.description}"></p>

                                            <div class="title-hd-sm">
                                                <h4>cast</h4>
                                                <a href="#" class="time">Full Cast & Crew <i
                                                        class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                <div class="cast-it" th:each="actor :${film.actors}">
                                                    <div class="cast-left">
                                                        <img th:src="@{${actor.avatarUrl}}" alt=""
                                                             style="width:40px;height: 40px;">
                                                        <a href="#" th:text="${actor.name}"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- movie user review -->

                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Đạo diễn: </h6>
                                                <p><a href="#" th:text="${film.director.name}"></a></p>
                                            </div>
                                            <div class="ads">
                                                <img th:src="@{/template/web/images/uploads/ads1.png}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="comments" class="tab review">
                                    <div class="comments">
                                        <h4 th:text="${film.totalComment}+' Bình luận'"></h4>
                                        <th:block th:each="comment: ${film.comments}">
                                            <div class="cmt-item flex-it">
                                                <img th:src="@{${comment.user.photoUrl}}" alt=""
                                                     style="width: 65px;height: 65px; border-radius:50px; ">
                                                <div class="author-infor">
                                                    <div class="flex-it2">
                                                        <h6><a href="#" th:text="${comment.user.userName}"></a></h6>
                                                        <span class="time" th:text="${comment.thoiGianDang}"></span>
                                                    </div>
                                                    <p th:text="${comment.content}" style="min-width: 600px;"></p>
                                                    <p><a class="rep-btn" href="#">+ Reply</a></p>
                                                    <p class="show-subcomment"
                                                       th:onclick="loadSubComment([[${comment.id}]])"
                                                       th:text="'Xem phản hồi'"></p>
                                                    <div class="evaluate">
                                                        <span th:text="${comment.totalLike}"></span>
                                                        <p class="like-cm"><i
                                                                class="fas fa-thumbs-up"></i></p>
                                                        <p class="delete-cm"><i class="far fa-trash-alt"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:class="'sub-comment_'+${comment.id}">
                                                <input type="hidden" th:id="'sub-page_'+${comment.id}" value="1">
                                            </div>
                                        </th:block>
                                        <div id="comment_list">
                                            <input type="hidden" id="comment-page" name="page" value="1">
                                            <p class="show-comment" th:onclick="loadComment([[${film.id}]],1)">
                                                Xem thêm bình luận</p>
                                        </div>
                                    </div>
                                    <div class="comment-form">
                                        <h4>Leave a comment</h4>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea name="message" id="" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <input class="submit" type="submit" placeholder="submit">
                                        </form>
                                    </div>
                                    <!--   <div class="row">
                                           <div class="rv-hd">
                                               <div class="div">
                                                   <h3>Phim liên quan</h3>
                                                   <h2 th:text="${film.name}"></h2>
                                               </div>
                                               <a href="#" class="redbtn">Đánh giá</a>
                                           </div>
                                           <div class="topbar-filter">
                                               <p>Đã tìm thấy <span th:text="${film.comments.size()}+' bình luận'"></span>
                                               </p>
                                               <label>Sắp xếp theo:</label>
                                               <select id="select-sort">
                                                   <option value="1">Mới nhất</option>
                                                   <option value="0">Cũ nhất</option>
                                               </select>
                                           </div>

                                           <div id="comment_list">

                                           </div>

                                       </div>-->
                                </div>
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <h3>Cast & Crew of</h3>
                                        <h2>Avengers: Age of Ultron</h2>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Directors & Credit Writers</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JW</h4>
                                                    <a href="#">Joss Whedon</a>
                                                </div>
                                                <p>... Director</p>
                                            </div>
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Directors & Credit Writers</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>SL</h4>
                                                    <a href="#">Stan Lee</a>
                                                </div>
                                                <p>... (based on Marvel comics)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JK</h4>
                                                    <a href="#">Jack Kirby</a>
                                                </div>
                                                <p>... (based on Marvel comics)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JS</h4>
                                                    <a href="#">Joe Simon</a>
                                                </div>
                                                <p>... (character created by: Captain America)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JS</h4>
                                                    <a href="#">Joe Simon</a>
                                                </div>
                                                <p>... (character created by: Thanos)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>RT</h4>
                                                    <a href="#">Roy Thomas</a>
                                                </div>
                                                <p>... (character created by: Ultron, Vision)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JB</h4>
                                                    <a href="#">John Buscema</a>
                                                </div>
                                                <p>... (character created by: Ultron, Vision)</p>
                                            </div>
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Cast</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast1.jpg" alt="">
                                                    <a href="#">Robert Downey Jr.</a>
                                                </div>
                                                <p>... Robert Downey Jr.</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast2.jpg" alt="">
                                                    <a href="#">Chris Hemsworth</a>
                                                </div>
                                                <p>... Thor</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast3.jpg" alt="">
                                                    <a href="#">Mark Ruffalo</a>
                                                </div>
                                                <p>... Bruce Banner/ Hulk</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast4.jpg" alt="">
                                                    <a href="#">Chris Evans</a>
                                                </div>
                                                <p>... Steve Rogers/ Captain America</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast5.jpg" alt="">
                                                    <a href="#">Scarlett Johansson</a>
                                                </div>
                                                <p>... Natasha Romanoff/ Black Widow</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast6.jpg" alt="">
                                                    <a href="#">Jeremy Renner</a>
                                                </div>
                                                <p>... Clint Barton/ Hawkeye</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast7.jpg" alt="">
                                                    <a href="#">James Spader</a>
                                                </div>
                                                <p>... Ultron</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="images/uploads/cast9.jpg" alt="">
                                                    <a href="#">Don Cheadle</a>
                                                </div>
                                                <p>... James Rhodes/ War Machine</p>
                                            </div>
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Produced by</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>VA</h4>
                                                    <a href="#">Victoria Alonso</a>
                                                </div>
                                                <p>... executive producer</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>MB</h4>
                                                    <a href="#">Mitchel Bell</a>
                                                </div>
                                                <p>... co-producer (as Mitch Bell)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JC</h4>
                                                    <a href="#">Jamie Christopher</a>
                                                </div>
                                                <p>... associate producer</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>LD</h4>
                                                    <a href="#">Louis D’Esposito</a>
                                                </div>
                                                <p>... executive producer</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JF</h4>
                                                    <a href="#">Jon Favreau</a>
                                                </div>
                                                <p>... executive producer</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>KF</h4>
                                                    <a href="#">Kevin Feige</a>
                                                </div>
                                                <p>... producer</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>AF</h4>
                                                    <a href="#">Alan Fine</a>
                                                </div>
                                                <p>... executive producer</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JF</h4>
                                                    <a href="#">Jeffrey Ford</a>
                                                </div>
                                                <p>... associate producer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Trailer phim</h3>
                                                <h2 th:text="${film.name}"></h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Trailer <span></span></h4>
                                        </div>
                                        <div class="mvsingle-item media-item">
                                            <div class="trailer-youtube"
                                                 th:if="${!#strings.isEmpty(film.trailerYoutube)}"
                                                 th:utext="${film.trailerYoutube}">

                                            </div>
                                            <div class="trailer-n"
                                                 th:if="${!#strings.isEmpty(film.trailerUrl) && #strings.isEmpty(film.trailerYoutube)}">
                                                <!-- end player -->
                                                <video width="100%" controls>
                                                    <source th:src="${film.trailerUrl}" id="trailer-video">
                                                </video>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="ip-filmId" name="filmId" th:value="${film.id}">
    </div>
</div>
<script>
    $(document).ready(function () {

    });
    /*$('#select-sort').change(function () {
        var filmId = $('#ip-filmId').val();
        var sortDec = $('#select-sort').val();
        loadComment("/ajax/comment/list?filmId=" + filmId + "&sortDirection=" + sortDec);
    });*/
    /*$('#comment-tab').click(function () {
        var filmId = $('#ip-filmId').val();
        var sortDec = $('#select-sort').val();
        loadComment("/ajax/comment/list?filmId=" + filmId + "&sortDirection=" + sortDec);
    });*/

    function loadComment(filmId, page) {
        var url = "/ajax/comment/list?filmId=" + filmId + "&page=" + page;
        $.get(url, function (data) {
            $("#comment_list").replaceWith($(data));
        });
    }

    function loadSubComment(id) {
        var page = $('#sub-page_' + id).val();
        var filmId = $('#ip-filmId').val();
        $.get("/ajax/subComment/list?commentId=" + id + "&filmId=" + filmId + "&page=" + page, function (data) {
            var scm = ".sub-comment_" + id;
            $(scm).replaceWith($(data));
        });
    }

    function loadSubComment2(id, page) {
        var filmId = $('#ip-filmId').val();
        $.get("/ajax/subComment/list?commentId=" + id + "&filmId=" + filmId + "&page=" + page, function (data) {
            var scm = ".sub-comment-list_" + id;
            $(scm).replaceWith($(data));
        });
    }

</script>
</body>
</html>