<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.search}"></title>
    <link rel="stylesheet" th:href="@{/template/web/css/custom-pagination.css}">
</head>
<body>
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1 th:text="#{label.film.list}"></h1>
                    <ul class="breadcumb">
                        <li class="active"><a th:href="@{/trang-chu}" th:text="#{label.home.page}"></a></li>
                        <li><span class="ion-ios-arrow-right"></span>
                            <p th:text="#{label.film.list}" th:remove="tag"></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list tim-kiem">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Đa tìm thấy <span th:text="${items.totalItems}+' Phim'"></span> trong danh sách</p>
                    <label>Sắp xếp theo:</label>
                    <select id="select-sort" th:field="${items.sort}">
                        <option value="view">Độ phổ biến giảm dần</option>
                        <option value="view-d">Độ phổ biến tăng dần</option>
                        <option value="scores">Đánh giá giảm dần</option>
                        <option value="scores-d">Đánh giá tăng dần</option>
                        <option value="createdDate">Ngày phát hành giảm dần</option>
                        <option value="createdDate-d">Ngày phát hành tăng dần</option>
                    </select>
                    <a class="list"><i class="ion-ios-list-outline active"></i></a>
                    <a style="cursor: pointer;" onclick="gridView()" class="grid"><i class="ion-grid"></i></a>
                </div>
                <div class="movie-item-style-2" th:each="film : ${items.listResult}">
                    <img th:src="@{${film.image1Url}}" alt="">
                    <div class="mv-item-infor">
                        <h6><a th:href="@{'/film/'+${film.code}+'-'+${film.id}}">
                            <div th:text="${film.name}" th:remove="tag"></div>
                            <span th:text="'('+${film.year}+')'"></span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span th:text="${film.scores}"></span> /10</p>
                        <p class="describe" th:utext="${film.description}">
                        </p>
                        <p class="run-time"> Thời lượng:
                        <div th:text="${film.time}" th:remove="tag"></div>
                        </p>
                        <p>Đạo diễn: <a href="#" th:text="${film.director.name}"></a></p>
                        <p>Diễn viên chính: <a href="#" th:each="actor: ${film.actors}"
                                               th:text="${actor.name}+', '"></a></p>
                    </div>
                </div>
                <div class="topbar-filter">
                    <label> Phim trên mỗi trang:</label>
                    <select id="select-limit" th:field="${items.limit}">
                        <option value="5">5 Phim</option>
                        <option value="10">10 Phim</option>
                        <option value="15">15 Phim</option>
                        <option value="20">20 Phim</option>
                    </select>
                    <div class="pagination2">
                        <span style="float: left;" th:text="'Trang ' + ${items.page} + ' trên ' + ${items.totalPage} + ' :'">Trang 1 trên 2:</span>
                        <ul class="pagination" id="pagination" style="margin: 0;"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Tìm kiếm phim</h4>
                        <div class="form-style-1">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label th:text="#{label.film.name}"></label>
                                    <input type="text" name="search" id="ip-search" placeholder="Nhập từ khóa">
                                </div>
                                <div class="col-md-12 form-it">
                                    <label th:text="#{label.category}"></label>
                                    <div class="group-ip">
                                        <select name="category" id="select-category">
                                            <option value="">Chọn thể loại</option>
                                            <option th:value="${category.code}" th:each="category: ${category_list}"
                                                    th:field="${items.category}" th:text="${category.name}"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-12 form-it">
                                    <label th:text="#{label.film.type}"></label>
                                    <select name="filmType" id="select-filmType">
                                        <option value="">Chọn loại phim</option>
                                        <option th:value="${filmType.code}" th:each="filmType: ${film_type_list}"
                                                th:field="${items.filmType}" th:text="${filmType.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label th:text="#{label.country}"></label>
                                    <select name="country" id="select-country">
                                        <option value="">Chọn đát nước</option>
                                        <option th:value="${country.code}" th:each="country: ${country_list}"
                                                th:field="${items.country}" th:text="${country.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label th:text="#{label.year}"></label>
                                    <select name="year" id="select-year">
                                        <option value="">Chọn năm</option>
                                        <option th:value="${year}" th:each="year: ${years}" th:field="${items.year}"
                                                th:text="${year}"></option>
                                    </select>
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="button" id="btn-search" value="submit">
                                </div>
                            </div>
                        </div>
                        <form action="" method="get" id="form-search">
                            <input type="hidden" name="limit" id="limit" th:value="${items.limit}">
                            <input type="hidden" name="page" id="page" th:value="${items.page}">
                            <input type="hidden" name="search" th:value="${items.search}">
                        </form>
                    </div>
                    <div class="ads">
                        <img src="images/uploads/ads1.png" alt="">
                    </div>
                    <div class="sb-facebook sb-it">
                        <h4 class="sb-title">Tìm chúng tôi trên Facebook</h4>
                        <iframe src="#"
                                data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
                                height="315" style="width:100%;border:none;overflow:hidden"></iframe>
                    </div>
                    <div class="sb-twitter sb-it">
                        <h4 class="sb-title">Tweet to us</h4>
                        <div class="slick-tw">
                            <div class="tweet item">
                                <!-- Put your twiter id here -->
                            </div>
                            <div class="tweet item">
                                <!-- Put your 2nd twiter account id here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        loadTitle();
        pagingFilm();
    });

    function gridView(){
        $('<input>').attr({
            type: 'hidden',
            value: 2,
            name: 'v'
        }).appendTo('#form-search');
        $('#form-search').submit();
    }

    function pagingFilm() {
        /*<![CDATA[*/
        var totalPage = /*[[${items.totalPage}]]*/;
        var currentPage =/*[[${items.page}]]*/;
        /*]]>*/

        $(function () {
            window.pagObj = $('#pagination').twbsPagination({
                totalPages: totalPage,
                startPage: currentPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    if (currentPage != page) {
                        $('#page').val(page);
                        $('#form-search').submit();
                    }
                }
            })
        });
    }

    $('#select-sort').change(function () {
        var value = $('#select-sort').val();
        $('<input>').attr({
            type: 'hidden',
            value: value,
            name: 'sort'
        }).appendTo('#form-search');
        $('#form-search').submit();
    });


    $('#select-limit').change(function () {
        $('#limit').val($('#select-limit').val());
        $('#form-search').submit();
    });

    $('#btn-search').click(function () {
        $('#form-search input[name="search"]').val($('#ip-search').val());
        var filmType = $('#select-filmType').val();
        var category = $('#select-category').val();
        var country = $('#select-country').val();
        var year = $('#select-year').val();
        var url = getUrl(filmType, category, country, year);
        $('#form-search').attr("action", url);
        $('#form-search').submit();
    });

    function loadTitle() {
        var filmType = $('#select-filmType option:selected').text();
        var category = $('#select-category option:selected').text();
        var country = $('#select-country option:selected').text();
        var year = $('#select-year option:selected').text();
        var title = "";
        if (filmType != "" && $('#select-filmType').val() != "") {
            title = title + filmType + "/";
        }
        if (category != "" && $('#select-category').val() != "") {
            title = title + category + "/";
        }
        if (country != "" && $('#select-country').val() != "") {
            title = title + country + "/";
        }
        if (year != "" && $('#select-year').val() != "") {
            title = title + year + "/";
        }
        if (title != "") {
            title = title.substr(0, title.length - 1);
        }
        if (title == ""){
            title = "Tìm kiếm";
        }
        $('title').text(title);
    }

    function getUrl(filmType, category, country, year) {
        var url = "/phim";
        if (filmType != "") {
            url = url + "/" + filmType;
            if (category != "") {
                url = url + "/" + category;
                if (country != "") {
                    url = url + "/" + country;
                    if (year != "") {
                        url = url + "/" + year;
                    }
                } else if (year != "") {
                    url = url + "/nam-" + year;
                }
            } else if (country != "") {
                url = url + "/nuoc-" + country;
                if (year != "") {
                    url = url + "/" + year;
                }
            } else if (year != "") {
                url = url + "/nam-" + year;
            }
        } else if (category != "") {
            url = url + "/the-loai/" + category;
            if (country != "") {
                url = url + "/" + country;
                if (year != "") {
                    url = url + "/" + year;
                }
            } else if (year != "")
                url = url + "/nam-" + year;
        } else if (country != "") {
            url = url + "/quoc-gia/" + country;
            if (year != "") {
                url = url + "/" + year;
            }
        } else if (year != "") {
            url = url + "/nam-" + year;
        }
        return url;
    }
</script>
</body>
</html>