<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.user.profile}"></title>
</head>
<body>






<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1 ></h1>
                    <ul class="breadcumb">
                        <li class="active"><a th:href="@{/trang-chu}">Trang chủ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Hồ sơ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                        <a href="#" class="redbtn">Thay đổi ảnh đại diện</a>
                    </div>
                    <div class="user-fav">
                        <p>Chi tiết tài khoản</p>
                        <ul>
                            <li  class="active"><a href="userprofile.html">Hồ sơ</a></li>
                            <li><a href="userfavoritelist.html">Phim yêu thích</a></li>
                            <li><a href="userrate.html">Phim đã sắp xếp</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Khác</p>
                        <ul>
                            <li><a href="#">Đổi mật khẩu</a></li>
                            <li><a href="#">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <th:block th:if="${param.message!=null}">
                    <div th:class="${'alert alert-block alert-'+ alert}">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <div th:text="${messageResponse}" th:remove="tag"></div>
                    </div>
                </th:block>
                <div class="form-style-1 user-pro" action="#">
                    <form th:action="@{/trang-ca-nhan/edit}" method="post" class="user">
                        <h4>01. Chi tiết hồ sơ</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Tài khoản</label>
                                <input type="text" disabled th:placeholder="#{label.username}" th:value="${user.userName}">
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Email</label>
                                <input type="text" th:placeholder="#{label.email}" th:field="${user.email}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Tên</label>
                                <input type="text" th:placeholder="#{label.last.name}" th:field="${user.lastName}">
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Họ</label>
                                <input type="text" th:placeholder="#{label.first.name}" th:field="${user.firstName}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Địa chỉ</label>
                                <input type="text" th:placeholder="#{label.address} " th:field="${user.address}">

                            </div>
                            <div class="col-md-6 form-it">
                                <label th:text="#{label.birth.date}"></label>
                                <input type="date"   th:field="${user.birthDate}">
                            </div>
                            <input type="hidden" th:field="${user.status}">
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Số Điện Thoại</label>
                                <input type="text" th:placeholder="#{label.phone} " th:field="${user.phone}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="Lưu">
                            </div>
                        </div>
                    </form>
                    <form action="#" class="password">
                        <h4>02. Thay đổi mật khẩu</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Mật khẩu cũ</label>
                                <input type="text" placeholder="Nhập mật khẩu cũ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>mật khẩu mới</label>
                                <input type="text" placeholder="Nhập mật khẩu mới">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Xác nhận mật khẩu</label>
                                <input type="text" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="Thay đổi">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section-->
<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
                <p>366 Lê Đại Hành<br>
                    Đà Nẵng</p>
                <p>SĐT: <a href="#">0342552949</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Tài nguyên</h4>
                <ul>
                    <li><a href="#">Trong khoản</a></li>
                    <li><a href="#">Bom tấn</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Diễn đàn </a></li>
                    <li><a href="#">Trung tâm trợ giúp</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>Hợp pháp</h4>
                <ul>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Bảo vệ</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Tài khoản</h4>
                <ul>
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Danh sách theo dõi</a></li>
                    <li><a href="#">Bộ sưu tập</a></li>
                    <li><a href="#">Hướng dẫn sử dụng</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="ft-copyright">
        <div class="ft-left">
            <p><a target="_blank" href="https://www.templateshub.net">Trung Tâm</a></p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Trở lại trang đầu  <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
</html>