<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <link rel="stylesheet" th:href="@{/template/web/css/userUploadVideo.css}">
    <title th:text="#{label.user.upload.video}"></title>
</head>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1></h1>
                    <ul class="breadcumb">
                        <li class="active"><a th:href="@{/trang-chu}">Trang chủ</a></li>
                        <li class="active"><span class="ion-ios-arrow-right"></span><a th:href="@{/trang-ca-nhan}">Hồ
                            sơ</a></li>
                        <li><span class="ion-ios-arrow-right"></span>Đăng video
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div th:replace="fragments/web/user-menu::user-menu"></div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12"
                 style="padding: 40px; background-color: #0b1a2a; border: 3px solid #0f2133; margin-top: -38px;">
                <div id="message-video"></div>
                <form class="form-horizontal" th:action="@{/api/user/video}" method="post" id="form-video"
                      th:object="${video}">
                    <div class="row form-group" th:if="*{!#strings.isEmpty(id)}">
                        <div class="col-md-3">
                            <label for="titleVideo" class=" form-control-label">Trạng thái</label>
                        </div>
                        <div class="col-md-9">
                            <p style="color: red; font-weight: bold;" th:if="*{status == 0}">Chưa duyệt</p>
                            <p style="color: forestgreen; font-weight: bold;" th:if="*{status == 1}">Đã duyệt</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label for="titleVideo" class=" form-control-label">Tiêu đề video</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="input-group" name="title" th:value="*{name}" id="titleVideo"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label class=" form-control-label">Ảnh video</label>
                        </div>
                        <div class="col-md-9">
                            <img class="d-block film-img-1" th:src="@{*{imageUrl}}" alt="Card image cap"
                                 id="imageVideo" th:if="*{!#strings.isEmpty(id)}">
                            <img class="d-block film-img-1" th:src="@{/template/image/no-image.jpg}"
                                 alt="Card image cap"
                                 id="imageVideo" th:if="*{#strings.isEmpty(id)}">
                            <input type="file" name="img" id="img" accept="image/*"
                                   onchange="readURL(this,'imageVideo')">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label class=" form-control-label">Ảnh video</label>
                        </div>
                        <div class="col-md-9">
                            <video class="video" controls id="video">
                                <source th:src="*{videoUrl}" type="video/mp4">
                            </video>
                            <input type="file" name="video" id="ip-video" accept="video/*"
                                   th:if="*{#strings.isEmpty(id)}"
                                   onchange="readVideo(this,'video')">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="description" class="col-sm-12" th:text="#{label.description}"></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" name="brief" id="description"
                                          rows="20" th:text="*{brief}"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="*{id}" name="id" th:if="*{!#strings.isEmpty(id)}">
                    <input type="hidden" th:value="*{status}" name="status" th:if="*{!#strings.isEmpty(id)}">
                    <input type="hidden" value="0" name="status" th:if="*{#strings.isEmpty(id)}">
                    <button class="btn btn-success">Đăng</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var editor = CKEDITOR.replace('description', {
            width: ['100%'], height: ['300px']
        });
    });

    $('#form-video').submit(function (){
        var desc = CKEDITOR.instances['description'].getData();
        $('#description').val(desc);
    });

    $('#form-video').ajaxForm({
        success: function (response) {
            if (response == "success") {
                $('#message-video').html("" +
                    "<div class='alert alert-block alert-success'>" +
                    "   <button type='button' class='close' data-dismiss='alert'>" +
                    "       <i class='ace-icon fa fa-times'></i>" +
                    "   </button>" +
                    "  Đăng video thành công !" +
                    "</div>")
                var d = new Date();
                var imageUrl = $('.user-img-img img').attr("src");
                $('.user-img-img img').attr("src", imageUrl + "?" + d.getTime());
            } else if (response == "image_over_size" || response == null) {
                $('#message-video').html("" +
                    "<div class='alert alert-block alert-warning'>" +
                    "   <button type='button' class='close' data-dismiss='alert'>" +
                    "       <i class='ace-icon fa fa-times'></i>" +
                    "   </button>" +
                    "   Ảnh quá lớn !" +
                    "</div>")
            } else if (response == "video_over_size" || response == null) {
                $('#message-video').html("" +
                    "<div class='alert alert-block alert-warning'>" +
                    "   <button type='button' class='close' data-dismiss='alert'>" +
                    "       <i class='ace-icon fa fa-times'></i>" +
                    "   </button>" +
                    "   Dung lượng video quá lớn !" +
                    "</div>")
            }
        },
        error: function (response) {
            $('#message-video').html("" +
                "<div class='alert alert-block alert-danger'>" +
                "   <button type='button' class='close' data-dismiss='alert'>" +
                "       <i class='ace-icon fa fa-times'></i>" +
                "   </button>" +
                "   Đăng thất bại !" +
                "</div>")
        }
    });
</script>
</body>
</html>