<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--preloading-->
<div id="preloader" th:fragment="preloading">
    <img class="logo" th:src="@{/template/web/images/logo1.png}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" th:fragment="login" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3 th:text="#{label.login}"></h3>
        <form method="post" th:action="@{/user_login}" id="login-user-form">
            <div class="row">
                <label for="username">
                    Tài khoản:
                    <input type="text" name="j_username_user" id="username" placeholder="Tên đăng nhập"
                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{4,20}$" required="required"/>
                </label>
            </div>

            <div class="row">
                <label for="password">
                    Mật khẩu:
                    <input type="password" name="j_password_user" id="password" placeholder="*********"
                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{6,50}$"
                    />
                </label>
            </div>
            <div class="row">
                <div class="remember">
                    <div>
                        <input type="checkbox" name="remember-me" value="Remember me"><span>Nhớ mật khẩu</span>
                    </div>
                    <a href="#">Quên mật khẩu ?</a>
                </div>
            </div>
            <div class="row">
                <button type="submit">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper" th:fragment="signup" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Đăng ký</h3>
        <form method="post" action="#">
            <div class="row">
                <label for="username-2">
                    Tài khoản:
                    <input type="text" name="username" id="username-2" placeholder="hoangthai"
                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required"/>
                </label>
            </div>

            <div class="row">
                <label for="email-2">
                    Email của bạn:
                    <input type="password" name="email" id="email-2" placeholder=""
                           pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                           required="required"/>
                </label>
            </div>
            <div class="row">
                <label for="password-2">
                    Mật khẩu:
                    <input type="password" name="password" id="password-2" placeholder=""
                           pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                           required="required"/>
                </label>
            </div>
            <div class="row">
                <label for="repassword-2">
                    Nhập lại mật khẩu:
                    <input type="password" name="password" id="repassword-2" placeholder=""
                           pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                           required="required"/>
                </label>
            </div>
            <div class="row">
                <button type="submit">Đăng ký</button>
            </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header th:fragment="header" class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Chuyển đổi</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a th:href="@{/trang-chu}"><img class="logo" th:src="@{/template/web/images/logo1.png}" alt=""
                                                width="119" height="58"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
                            Trang chủ <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>

                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            Phim<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li class="dropdown first">
                                <a th:href="@{'/phim'}" class="btn btn-default dropdown-toggle lv1"
                                   data-toggle="dropdown">
                                    Phim mới
                                </a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Phim lẻ<i
                                        class="ion-ios-arrow-forward"></i></a>
                                <ul class="dropdown-menu level2">
                                    <li th:each="year: ${years}">
                                        <a th:href="@{'/phim/phim-le/nam-'+${year}}" th:text="'Phim lẻ ' + ${year}"></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Phim bộ<i
                                        class="ion-ios-arrow-forward"></i></a>
                                <ul class="dropdown-menu level2">
                                    <li th:each="film: ${country_list}"><a
                                            th:href="@{'/phim/phim-bo/nuoc-'+${film.code}}" th:text="${film.name}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            Thể loại<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li th:each="category: ${category_list}">
                                <a th:href="@{'/phim/the-loai-'+${category.code}}" th:text="${category.name}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            Phim chiếu rạp <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>

                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            MYTV <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="userfavoritegrid.html">Xem phim</a></li>
                            <li><a href="userfavoritelist.html">Quản lý</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li sec:authorize="!hasRole('USER')">
                        <a th:href="@{/admin/home-page}" th:text="#{label.employee}"></a></li>
                    <li sec:authorize="hasRole('USER')">
                        <a th:href="@{/trang-ca-nhan}">Hồ Sơ</a></li>
                    <li class="first user-name" sec:authorize="hasRole('USER')">
                        <a class="btn btn-default lv1">
                           <div th:text="'Xin Chào ' + ${#authentication.getPrincipal().fullName}" th:remove="tag"></div>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right level1">
                            <li>
                                <a th:href="@{/dang-xuat}">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                    <li class="loginLink" sec:authorize="!hasRole('USER')">
                        <a href="#">Đăng nhập</a>
                    </li>
                    <li class="btn signupLink" sec:authorize="!hasRole('USER')">
                        <a href="#">Đăng ký</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <form th:action="@{/phim}" class="top-search">
            <select>
                <option value="united">Phim</option>
            </select>
            <input type="text" name="search"
                   placeholder="Nhập tên phim, diễn viên, đạo diễn.">
        </form>
    </div>
</header>
<!-- END | Header -->
<!-- footer section-->
<footer class="ht-footer" th:fragment="footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
                <p>Quảng Nam<br>
                    VIỆT NAM</p>
                <p>SĐT: <a href="#">0123456789</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>TEAM A</h4>
                <ul>
                    <li><a href="#">Nguyễn Hoàng Lộc</a></li>
                    <li><a href="#">Lê Cao Triều</a></li>
                    <li><a href="#">Lê Công hoàng Thái</a></li>
                    <li><a href="#">Đặng Mậu Hiếu </a></li>
                    <li><a href="#">Phạm Đăng An Sơn</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>ĐẠI HỌC DUY TÂN</h4>
                <ul>
                    <li><a href="#">CÔNG NGHỆ THÔNG TIN</a></li>
                    <li><a href="#">CÔNG NGHỆ PHẦN MỀM</a></li>
                    <li><a href="#">WEB DEVELOPER</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Tài khoản</h4>
                <ul>
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Danh sách theo dõi</a></li>
                    <li><a href="#">Bộ sưu tập</a></li>
                    <li><a href="#">Hướng dẫn sử dụng</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="ft-copyright">
        <div class="ft-left">
            <p><a target="_blank" href="https://www.templateshub.net">Trung Tâm</a></p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Trở lại trang đầu <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
</footer>
<!-- end of footer section-->
</section>
</body>
</html>