<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/admin :: main-fragment (~{::title} ,~{::head}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.film.update}" th:if="${!#strings.isEmpty(item.id)}"></title>
    <title th:text="#{label.film.add}" th:if="${#strings.isEmpty(item.id)}"></title>
    <link rel="stylesheet" th:href="@{/template/admin/film/film.css}">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/trang-chu}">
            <i class="fa fa-home"></i>
            <span th:text="#{label.home.page}" th:remove="tag"></span>
        </a>
        </li>
        <li class="breadcrumb-item"><a th:href="@{/admin/film/list}" th:text="#{label.film.list}"></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:if="${!#strings.isEmpty(item.id)}">Chỉnh sửa</li>
        <li class="breadcrumb-item active" aria-current="page" th:if="${#strings.isEmpty(item.id)}">Thêm mới</li>
    </ol>
</nav>
<div class="col-12 mx-auto">
    <th:block th:if="${param.message!=null}">
        <div th:class="${'alert alert-block alert-'+ alert}">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <div th:text="${messageResponse}" th:remove="tag"></div>
        </div>
    </th:block>
    <div class="card">
        <div class="card-header">
            <strong th:if="${!#strings.isEmpty(item.id)}" th:text="#{label.film.update}">
            </strong>
            <strong th:if="${#strings.isEmpty(item.id)}" th:text="#{label.film.add}">
            </strong>
            <a th:href="@{/admin/film/show(filmId=${item.id})}" th:if="${!#strings.isEmpty(item.id)}"
               class="float-right"
               th:text="#{label.film.info}"></a>
        </div>
        <div class="card-body card-block" th:object="${item}">
            <div class="row">
                <div class="col-12 col-md-12 mx-auto">
                    <form th:action="@{/api/admin/film/image}" method="post" id="form-image-film" class="row"
                          enctype="multipart/form-data">
                        <div class="col-4">
                            <img class="d-block film-img-1" th:src="*{image1Url}" alt="Card image cap" id="image1Film">
                            <input type="file" name="img1" id="img1" accept="image/*"
                                   onchange="readURL(this,'image1Film')">
                        </div>
                        <div class="col-8 mx-auto">
                            <img class="d-block film-img-2" th:src="*{image2Url}" alt="Card image cap" id="image2Film">
                            <input type="file" name="img2" id="img2" accept="image/*"
                                   onchange="readURL(this,'image2Film')">
                        </div>
                        <input type="hidden" name="id" th:value="*{id}" id="filmId">
                    </form>
                </div>
            </div>
            <div class="row" style="height: 50px; margin-bottom: 100px;" th:if="*{!#strings.isEmpty(id)}">
                <button type="button" id="img-save" class="btn btn-info"
                        disabled="disabled" th:text="#{label.film.image.change}">
                </button>
                <img th:src="@{/template/image/loading.gif}" alt="" hidden id="loading-img">
            </div>
            <div class="row">
                <form method="post" class="form-horizontal col-8" id="formSubmit">
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="name" class=" form-control-label" th:text="#{label.film.name}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input name="name" th:value="*{name}" class="form-control" id="name"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="actor" class=" form-control-label" th:text="#{label.actor}">
                            </label>
                        </div>
                        <div class="col-10 col-md-7">
                            <select name="actors.id" multiple class="form-control role-select2" id="actor">
                                <option th:each="actor: ${actors}" th:field="*{actors}" th:value="${actor.id}"
                                        th:text="${actor.name}"></option>
                                </c:forEach>
                            </select>
                        </div>
                        <div class="col-3">
                            <a type="button" id="btn-actor" class="d-block btn btn-outline-primary"
                               data-toggle="modal" data-target="#edit-actor" th:text="#{label.add.actor}">
                            </a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="director" class=" form-control-label" th:text="#{label.director}">
                            </label>
                        </div>
                        <div class="col-10 col-md-7">
                            <select name="director.id" id="director" class="form-control">
                                <option value="" th:text="#{label.director}"></option>
                                <option th:each="director: ${directors}" th:value="${director.id}"
                                        th:field="*{director.id}"
                                        th:text="${director.name}"></option>
                            </select>
                        </div>
                        <div class="col-3">
                            <a type="button" class="d-block btn btn-outline-primary"
                               data-toggle="modal" id="btn-director" data-target="#edit-director"
                               th:text="#{label.add.director}">
                            </a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="language" class=" form-control-label" th:text="#{label.language}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input name="language" th:value="*{language}" id="language" class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="year" class=" form-control-label" th:text="#{label.year}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input name="year" th:value="*{year}" type="number" class="form-control" id="year"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="time" class=" form-control-label" th:text="#{label.time}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input name="time" th:value="*{time}" type="number" class="form-control" id="time"/>
                        </div>
                    </div>

                    <div class="row form-group" sec:authorize="hasRole('ADMIN')">
                        <div class=" col col-md-2">
                            <label for="status" class=" form-control-label" th:text="#{label.status}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="status" th:value="*{status}" th:field="*{status}" class="form-control"
                                    id="status">
                                <option value="1" label="Hoạt động"/>
                                <option value="0" label="Không hoạt động"/>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="status" value="1" sec:authorize="!hasRole('ADMIN')">
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="country" class=" form-control-label" th:text="#{label.country}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="country.id" id="country" class="form-control">
                                <option value="">Chọn Quốc gia</option>
                                <option th:each="country: ${countries}" th:value="${country.id}"
                                        th:field="*{country.id}"
                                        th:text="${country.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label for="filmType" class=" form-control-label" th:text="#{label.film.type}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="filmType.id" id="filmType" class="form-control">
                                <option value="">Chọn loại film</option>
                                <option th:each="filmType:  ${filmTypes}" th:value="${filmType.id}"
                                        th:field="*{filmType.id}"
                                        th:text="${filmType.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="quality" class=" form-control-label" th:text="#{label.quality}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="quality" class="form-control" id="quality" th:field="*{quality}">
                                <option value="" label="Chọn chất lượng"/>
                                <option value="240p" label="240p"/>
                                <option value="360p" label="360p"/>
                                <option value="480p" label="480p"/>
                                <option value="720p" label="720p"/>
                                <option value="1080p" label="1080p"/>
                                <option value="1440p" label="1440p"/>
                                <option value="2160p" label="2160p"/>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col col-md-2">
                            <label class=" form-control-label" th:text="#{label.category}">
                            </label>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="custom-control custom-checkbox float-left" th:each="category: ${categories}"
                                 style="width:120px; margin-right: 15px;">
                                <input name="categories.id" type="checkbox" class="custom-control-input"
                                       th:field="*{categories}" th:id="checkbox_+${category.id}"
                                       th:value="${category.id}">
                                <label class="custom-control-label"
                                       th:for="checkbox_+${category.id}" th:text="${category.name}"></label>
                            </div>
                        </div>
                    </div>
                    <input name="id" th:value="*{id}" type="hidden" id="id" th:if="${!#strings.isEmpty(item.id)}"/>
                    <input name="employee.id" th:value="${#authentication.getPrincipal().getId()}" type="hidden"/>
                    <input type="hidden" th:field="*{scores}">
                </form>
                <div class="col-4">
                    <label for="description" class="col-sm-12" th:text="#{label.content}"></label>
                    <div class="col-sm-12">
                    <textarea form="formSubmit" class="form-control" name="description" id="description"
                              rows="20" th:text="*{description}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-sm" id="btnAddOrUpdate"
                    th:if="${!#strings.isEmpty(item.id)}"
                    style="float: right; margin-left: 5px;">
                <i class="fas fa-check"></i>
                <span th:text="#{label.film.update}" th:remove="tag"></span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnAddOrUpdate"
                    th:if="${#strings.isEmpty(item.id)}"
                    style="float: right; margin-left: 5px;">
                <i class="fas fa-check"></i>
                <span th:text="#{label.film.add}" th:remove="tag"></span>
            </button>

            <button type="reset" class="btn btn-danger btn-sm" style="float: right;">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
        <div class="modal fade" id="edit-director" style="display: none; padding-right: 17px;" aria-modal="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" th:text="#{label.add.director}">
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form id="editDirectorForm">
                            <div class="form-group">
                                <label class=" form-control-label" th:text="#{label.director}">
                                </label>
                                <input type="text" name="name" id="ip-director-name"
                                       th:placeholder="#{label.director.name}" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" id="btnDirectorSave"
                                th:text="#{label.add}">
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="edit-actor" style="display: none; padding-right: 17px;" aria-modal="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" th:text="#{label.add.actor}">
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <!-- form start -->
                        <form id="editActorForm">
                            <div class="form-group">
                                <label class=" form-control-label" th:text="#{label.actor}">
                                </label>
                                <input type="text" name="name" id="ip-actor-name" th:placeholder="#{label.actor.name}"
                                       class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" id="btnActorSave" th:text="#{label.add}">
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
<script>
    $('.role-select2').select2();

    $(document).ready(function () {
        var editor = CKEDITOR.replace('description', {
            width: ['100%'], height: ['300px']
        });

        if ($('#image1Film').attr("src") == "") {
            $('#image1Film').attr("src", "/template/image/default_poster.jpg");
        }

    });

    $("input[name='categories']").attr("name", "categories.id");

    $('#btnActorSave').click(function (e) {
        e.preventDefault();
        var formData = $('#editActorForm').serializeArray();
        var data = convertToJson(formData);
        if (Object.keys(data).length != 0) {
            addActor(data);
            $('#edit-actor').modal("hide")
            $('#ip-actor-name').val("");
        }
    });

    var apiActorUrl = "/api/admin/actor";

    function addActor(data) {
        $.ajax({
            url: apiActorUrl,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                var newOption = new Option(result.name, result.id, false, false);
                $('#actor').append(newOption).trigger('change');
            },
            error: function (error) {
                console.log("lỗi");
            }
        });
    }

    $('#btnDirectorSave').click(function (e) {
        e.preventDefault();
        var formData = $('#editDirectorForm').serializeArray();
        var data = convertToJson(formData);
        if (Object.keys(data).length != 0) {
            addDirector(data);
            $('#edit-director').modal("hide")
            $('#ip-director-name').val("");
        }
    });
    var apiDirectorUrl = "/api/admin/director";

    function addDirector(data) {
        $.ajax({
            url: apiDirectorUrl,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                var newOption = new Option(result.name, result.id, false, false);
                $('#director').append(newOption).trigger('change');
            },
            error: function (error) {
                console.log("lỗi");
            }
        });
    }

    $('input[type="file"]').change(function () {
        if ($(this).val() != "") {
            $('#img-save').prop("disabled", false);
        } else {
            $('#img-save').prop("disabled", true);
        }
    });
    $('#btnAddOrUpdate').click(function (e) {
        e.preventDefault();
        var id = $('#id').val();
        var desc = CKEDITOR.instances['description'].getData();
        $('#description').val(desc);
        var formData = $('#formSubmit').serializeArray();
        var data = convertToJson(formData);
        if (id != "") {
            updateFilm(data);
        } else {
            addFilm(data);
        }
    });

    $('#img-save').click(function () {
        $('#img-save').prop("disabled", true);
        updateFilmImage();
    });
    var apiUrl = "/api/admin/film";
    var filmEditUrl = "/admin/film/edit";

    function updateFilm(data) {
        $.ajax({
            url: apiUrl,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                window.location.href = filmEditUrl + "?filmId=" + result + "&message=redirect_update";
            },
            error: function (error) {
                window.location.href = filmEditUrl + "?filmId=" + $('#filmId').val() + "&message=redirect_error";
            }
        });
    }

    function updateFilmImage(a) {
        if ($('#img1').val() != "" || $('#img2').val() !="") {
            var form = $('#form-image-film')[0];
            $('#loading-img').prop("hidden", false);
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                url: $('#form-image-film').attr('action'),
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                method: 'POST',
                success: function (res) {
                    $('#loading-img').prop("hidden", true);
                    showAlertAfterSuccess(a);
                },
                error: function (res) {
                    $('#loading-img').prop("hidden", true);
                    showAlertAfterError();
                }
            });
        } else {
            window.location.href = filmEditUrl + "?filmId=" + $('#filmId').val() + "&message=redirect_insert";
        }
    }


    function addFilm(data) {
        $.ajax({
            url: apiUrl,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                $('#filmId').val(result.id);
                updateFilmImage(function () {
                    window.location.href = filmEditUrl + "?filmId=" + result.id + "&message=redirect_insert";
                });
            },
            error: function (error) {
                window.location.href = filmEditUrl + "?message=redirect_error";
            }
        });
    }


</script>
</body>
</html>