<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div id="new-comment"></div>
<div class="cmt-item flex-it" th:id="cm_+${comment.id}">
    <img th:src="@{${comment.user.photoUrl}}" alt=""
         style="width: 65px;height: 65px; border-radius:50px; ">
    <div class="author-infor">
        <div class="flex-it2">
            <h6><a th:href="@{'/danh-sach-video-'+${comment.user.id}}" th:text="${comment.user.userName}"></a></h6>
            <span class="time" th:text="${comment.thoiGianDang}"></span>
        </div>
        <p th:text="${comment.content}" class="cm-content" style="min-width: 600px;"></p>
        <p><a class="rep-btn" th:onclick="showReplyCm([[${comment.id}]])">+ Trả lời</a></p>
        <p class="show-subcomment" th:if="${comment.subCommentCount>0}"
           th:onclick="loadSubComment([[${comment.id}]])"
           th:text="'Xem phản hồi'"></p>
        <div class="evaluate">
            <span th:text="${comment.totalLike}" th:id="totalLike+${comment.id}"></span>
            <p class="like-cm" sec:authorize="hasRole('USER')"  th:onclick="likeComment([[${comment.id}]])" th:id="like-cm_+${comment.id}">
                <i class="fas fa-thumbs-up"
                   th:if="${comment.like == 1}"></i>
                <i class="far fa-thumbs-up"
                   th:if="${comment.like != 1}"></i>
                <input type="hidden" th:name="comment_like_+${comment.id}"
                       th:id="ip-content_+${comment.id}"
                       th:value="${comment.like}">
            </p>
            <p class="like-cm" sec:authorize="!hasRole('USER')"  th:id="like-cm_+${comment.id}">
                <i class="far fa-thumbs-up"></i>
            </p>
            <p class="delete-cm" sec:authorize="hasRole('USER')"
               th:onclick="warningBeforeDelete([[${comment.id}]])"
               th:if="${comment.user.id.equals(#authentication.principal.id)}">
                <i class="far fa-trash-alt"></i>
            </p>
        </div>
    </div>
</div>
<div th:id="new-sub-cm_+${comment.id}"></div>
<div th:class="'sub-comment_'+${comment.id}">
    <input type="hidden" th:id="'sub-page_'+${comment.id}" value="1">
</div>
</body>
</html>