<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:id="new-sub-cm_+${comment.id}"></div>
<div th:class="'cmt-item flex-it reply scm_'+${comment.comment.id}" th:id="cm_+${comment.id}">
    <img th:src="@{${comment.user.photoUrl}}" alt="" style="width: 65px;height: 65px; border-radius: 50px;">
    <div class="author-infor">
        <div class="flex-it2">
            <h6><a href="#" th:text="${comment.user.userName}"></a></h6> <span class="time"
                                                                               th:text="${comment.thoiGianDang}"></span>
        </div>
        <p th:text="${comment.content}" style="min-width: 525px;"></p>
        <div class="evaluate">
            <span th:text="${comment.totalLike}"></span>
            <p class="like-cm"><i
                    class="fas fa-thumbs-up"></i></p>
            <p class="delete-cm" sec:authorize="hasRole('USER')"
               th:onclick="warningBeforeDelete([[${comment.id}]])"
               th:if="${comment.user.id.equals(#authentication.principal.id)}">
                <i class="far fa-trash-alt"></i>
            </p>
        </div>
    </div>
</div>
</body>
</html>