<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/admin :: main-fragment (~{::title} ,~{::head}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title th:if="${!#strings.isEmpty(item.id)}" th:text="#{label.employee.update}"></title>
    <title th:if="${#strings.isEmpty(item.id)}" th:text="#{label.employee.add}"></title>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/trang-chu}">
            <i class="fa fa-home"></i>
            <span th:text="#{label.home.page}" th:remove="tag"></span>
        </a>
        </li>
        <div sec:authorize="hasRole('ADMIN')">
            <li class="breadcrumb-item"><a th:href="@{/admin/employee/list}" th:text="#{label.employee.list}"></a>
            </li>
        </div>
        <li class="breadcrumb-item active" aria-current="page" th:if="${!#strings.isEmpty(item.id)}">Chỉnh sửa</li>
        <li class="breadcrumb-item active" aria-current="page" th:if="${#strings.isEmpty(item.id)}">Thêm mới</li>
    </ol>
</nav>
<div class="col-12 mx-auto">
    <th:block th:if="${param.message!=null}">
        <div th:class="${'alert alert-block alert-'+ alert}">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <div th:text="${messageResponse}" th:remove="tag"></div>
        </div>
    </th:block>
    <div class="card">
        <div class="card-header">
            <strong th:if="${!#strings.isEmpty(item.id)}" th:text="#{label.employee.update}">
            </strong>
            <strong th:if="${#strings.isEmpty(item.id)}" th:text="#{label.employee.add}">
            </strong>
            <a th:if="${!#strings.isEmpty(item.id)}" th:href="@{'/admin/employee/profile?id='+${item.id}}"
               class="float-right"
               th:text="#{label.employee.profile}"></a>
        </div>
        <div class="card-body card-block">
            <form method="post" class="form-horizontal" id="formSubmit">
                <div class="row">
                    <div class="col-6">
                        <div class="row form-group" th:if="${!#strings.isEmpty(item.id)}">
                            <div class="col col-md-3">
                                <img class="d-block"
                                     th:src="@{${item.photoUrl}}"
                                     alt="Card image cap" style="width: 150px; height: 150px"
                                     id="avatarUser">
                                <input name="photo" th:value="${item.photo}" type="hidden"/>
                            </div>
                            <div class="col-12 col-md-9">
                                <a th:href="@{/admin/personal/photo}" class="d-block btn btn-outline-info"
                                   th:if="${#request.userPrincipal.name == item.userName}"
                                   th:text="#{label.edit.avatar.change}"></a>
                                <a th:href="@{'/admin/employee/photo/edit?id='+${item.id}}"
                                   class="d-block btn btn-outline-info"
                                   th:if="${#request.userPrincipal.name != item.userName}"
                                   th:text="#{label.edit.avatar.change}"></a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="username" class=" form-control-label" th:text="#{label.username}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input name="userName" th:value="${item.userName}" class="form-control" id="username"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="password" class=" form-control-label" th:text="#{label.password}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <a th:if="${!#strings.isEmpty(item.id)}" type="button" id="password"
                                   class="d-block btn btn-outline-primary"
                                   data-toggle="modal" data-target="#edit-password" th:text="#{label.change.password}">
                                </a>
                                <input th:if="${#strings.isEmpty(item.id)}" name="password" type="password"
                                       id="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="firstName" class="form-control-label" th:text="#{label.full.name}">
                                </label>
                            </div>
                            <div class="col-4 col-md-4">
                                <input name="firstName" th:value="${item.firstName}" id="firstName" class="form-control"
                                       placeholder="Họ và tên lót"/>
                            </div>
                            <div class="col-1 col-md-1"><b>-</b></div>
                            <div class="col-4 col-md-4">
                                <input name="lastName" th:value="${item.lastName}" id="lastName" class="form-control"
                                       placeholder="Tên"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class=" col col-md-3">
                                <label for="email" class=" form-control-label" th:text="#{label.email}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input name="email" th:value="${item.email}" class="form-control" type="email"
                                       id="email"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row form-group">
                            <div class=" col col-md-3">
                                <label for="phone" class=" form-control-label" th:text="#{label.phone}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input name="phone" th:value="${item.phone}" type="number" class="form-control"
                                       id="phone"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class=" col col-md-3">
                                <label for="role" class="form-control-label" th:text="#{label.role}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select multiple class="form-control role-select2" name="roles.id" id="role"
                                        th:if="${#authentication.principal.id != item.id}">
                                    <option th:each="role : ${roles}" th:field="${item.roles}"
                                            th:value="${role.id}"
                                            th:text="${role.name}"></option>
                                </select>
                                <select multiple class="form-control role-select2" name="roles.id" id="role" disabled
                                        th:if="${#authentication.principal.id == item.id}">
                                    <option th:each="role : ${roles}" th:field="${item.roles}"
                                            th:value="${role.id}"
                                            th:text="${role.name}"></option>
                                </select>
                            </div>
                            <th:block th:each="role: ${item.roles}" th:if="${#authentication.principal.id == item.id}">
                                <input type="hidden" name="roles.id" th:value="${role.id}">
                            </th:block>
                        </div>
                        <div class="row form-group">
                            <div class=" col col-md-3">
                                <label for="status" class=" form-control-label" th:text="#{label.status}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="status" th:value="${item.status}" class="form-control" id="status"
                                        th:field="${item.status}">
                                    <option value="1" label="Hoạt động"/>
                                    <option value="0" label="Không hoạt động"/>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class=" col col-md-3">
                                <label for="birthDate" class=" form-control-label" th:text="#{label.birth.date}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input name="birthDate" th:value="${item.birthDate}" type="date" id="birthDate"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class=" col col-md-3">
                                <label for="address" class=" form-control-label" th:text="#{label.address}">
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input name="address" th:value="${item.address}" class="form-control" id="address"/>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="personal" value="1" th:if="${#authentication.principal.id == item.id}">
                <input name="id" th:value="${item.id}" type="hidden" id="id"/>
            </form>
        </div>
        <div class="card-footer">
            <button th:if="${!#strings.isEmpty(item.id)}" type="button" class="btn btn-primary btn-sm"
                    id="btnAddOrUpdate">
                <i class="fas fa-check"></i>
                <div th:text="#{label.employee.update}" th:remove="tag"></div>
            </button>
            <button th:if="${#strings.isEmpty(item.id)}" type="button" class="btn btn-primary btn-sm"
                    id="btnAddOrUpdate">
                <i class="fas fa-check"></i>
                <div th:text="#{label.employee.add}" th:remove="tag"></div>
            </button>

            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
        <div class="modal fade" id="edit-password" style="display: none; padding-right: 17px;" aria-modal="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" th:text="#{label.change.password}">
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <!-- form start -->
                        <form method="POST" id="editPasswordForm">
                            <div class="form-group">
                                <label class=" form-control-label" th:text="#{label.password}">
                                </label>
                                <input type="password" name="password" th:placeholder="#{label.password.new}"
                                       class="form-control">
                            </div>
                            <input type="hidden" name="id" th:value="${item.id}"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" id="btnSave" th:text="#{label.update}">
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
<script>

    var apiUpdatePasswordUrl = "/api/admin/employee/password";
    var editEmployeeUrl = "/admin/employee/edit";
    var inforPersonalEditUrl = "/admin/personal/information";
    var apiUrl = "/api/admin/employee";
    $(document).ready(function () {
        $('#role').attr("name", "roles.id");
    })
    $('.role-select2').select2();


    // update address on change

    //update password
    $('#btnSave').click(function (e) {
        e.preventDefault();
        var formData = $('#editPasswordForm').serializeArray();
        var data = convertToJson(formData);
        var url = apiUpdatePasswordUrl;
        var redirectUrl = editEmployeeUrl + "?id=" + $('#id').val();
        if ($('#personal').val() == '1') {
            url = "/api/admin/personal/password";
            redirectUrl = inforPersonalEditUrl + "?";
        }
        updatePassword(data, url, redirectUrl);
    });

    function updatePassword(data, url, redirectUrl) {
        $.ajax({
            url: url,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                window.location.href = redirectUrl + "&message=redirect_update";
            },
            error: function (error) {
                window.location.href = redirectUrl + "&message=redirect_error";
            }
        });
    }

    // update and add new employee
    $('#btnAddOrUpdate').click(function (e) {
        e.preventDefault();
        var id = $('#id').val();
        var formData = $('#formSubmit').serializeArray();
        var data = convertToJson(formData);
        console.log(data);
        if (id != "") {
            var redirectUrl = editEmployeeUrl + "?id=" + id;
            var url = apiUrl;
            if ($('#personal').val() == '1') {
                url = "/api/admin/info/update";
                redirectUrl = inforPersonalEditUrl + "?";
            }
            updateEmployee(data, url, redirectUrl);
        } else {
            addEmployee(data);
        }
    });

    var changAvatarUrl = "/admin/employee/photo/edit";
    var employeeListURL = "/admin/employee/list";

    //ajax add employee
    function addEmployee(data) {
        $.ajax({
            url: apiUrl,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                window.location.href = changAvatarUrl + "?id=" + result.id;
            },
            error: function (error) {
                window.location.href = employeeListURL + "?message=redirect_error";
            }
        });
    }

    //ajax update employee
    function updateEmployee(data, url, redirectUrl) {
        $.ajax({
            url: url,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (res) {
                window.location.href = redirectUrl + "&message=redirect_update";
            },
            error: function (res) {
                window.location.href = redirectUrl + "&message=redirect_error";
            }
        });
    }
</script>
</body>
</html>