<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:fragment="main-fragment (head, mainContent)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/template/image/logo.png}">
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    <!-- CSS files -->
    <link rel="stylesheet" th:href="@{/template/web/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/template/web/css/style.css}">
    <div th:replace="${head}"></div>
</head>
<body>
<div th:replace="fragments/web::preloading"></div>
<div th:replace="fragments/web::login"></div>
<div th:replace="fragments/web::signup"></div>
<div th:replace="fragments/web::header"></div>
<div th:replace="${mainContent}"></div>
<div th:replace="fragments/web::footer"></div>
<script th:src="@{/template/web/js/jquery.js}"></script>
<script th:src="@{/template/web/js/plugins.js}"></script>
<script th:src="@{/template/web/js/plugins2.js}"></script>
<script th:src="@{/template/web/js/custom.js}"></script>
</body>
</html>
