<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/video :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.video.list}"></title>
</head>
<body>
<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <!--/comedy-movies-->
        <!---728x90--->
        <h3 class="agile_w3_title hor-t">Top <span>Video</span></h3>
        <div class="wthree_agile-requested-movies">
            <div class="col-md-3 col-12" th:each="video: ${topVideos}">
                <div class="card">
                    <div class="poster-video">
                        <img class="card-img-top" onerror="imgVideoError(this)" th:src="@{${video.imageUrl}}"
                             alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="papa">
                            <div class="avatar">
                                <img th:src="@{${video.user.photoUrl}}" alt="avatar">
                            </div>
                            <div class="detail">
                                <div class="card-title">
                                    <a th:href="@{'/video/xem-video/'+${video.id}}" th:text="${video.name}"></a>
                                </div>
                                <div class="card-text">
                                    <p>
                                    <div th:text="${video.view}" th:remove="tag"></div>
                                    lượt xem</p>
                                    <p th:text="${#dates.format(video.createdDate, 'hh:mm dd-MMM-yyyy')}"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--//comedy-movies-->
        <h3 class="agile_w3_title">Danh Sách <span>Video</span></h3>
        <!--/requested-movies-->
        <div class="wthree_agile-requested-movies">
            <div class="col-md-3 col-12" th:each="video: ${videos}">
                <div class="card">
                    <div class="poster-video">
                        <img class="card-img-top" onerror="imgVideoError(this)" th:src="@{${video.imageUrl}}"
                             alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="papa">
                            <div class="avatar">
                                <img th:src="@{${video.user.photoUrl}}" alt="avatar">
                            </div>
                            <div class="detail">
                                <div class="card-title">
                                    <a th:href="@{'/video/xem-video/'+${video.id}}" th:text="${video.name}"></a>

                                </div>
                                <div class="card-text">
                                    <p>
                                    <div th:text="${video.view}" th:remove="tag"></div>
                                    lượt xem</p>
                                    <p th:text="${#dates.format(video.createdDate, 'hh:mm dd-MMM-yyyy')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lo" id="getValue">
                <input type="hidden" id="page" value="2">
                <input type="hidden" id="limit" value="20">
            </div>
        </div>
    </div>
    <!--//requested-movies-->

</div>
<div class="blog-pagenat-wthree" style="clear: both;">
    <ul>
        <li><a href="#">Video cuối</a></li>
    </ul>
</div>
<script>
    function loadVideo(page, limit) {
        $.get("/ajax/video/get-list?page=" + page + "&limit=" + limit, function (data) {
            $("#getValue").replaceWith($(data).find(".lo"));
        });
    }

    $(document).ready(function () {
        $(window).scroll(function (event) {
            if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
                console.log($(document).height() - $(window).height());
                var page = $('#page').val();
                var limit = $('#limit').val();
                loadVideo(page, limit)
            }
        });
    });
</script>
</body>
</html>