<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.user.profile}"></title>
</head>
<body>

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Hoang Nam</h1>
                    <!-- <ul class="breadcumb">
                        <li class="active"><a href="#">Trang chủ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Hồ sơ</li>
                    </ul> -->
                    <div class="user" style="margin-left: 280px;">
                        <div class="user-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="user-content">
                            <p>hoangnam@gmail.com</p>
                        </div>
                    </div>
                    <div class="user" style="margin-left: 280px;">
                        <div class="user-icon">
                            <i class="fas fa-address-card"></i>
                        </div>
                        <div class="user-content">
                            <p>Quận 3 - Thành phố Hồ Chí Minh - Việt Nam </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div th:replace="fragments/web/user-menu::user-menu"></div>
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <h3 style="margin: 20px 0;">Danh sách video</h3>
                <div class="form-style-1 user-pro" action="#">
                    <div class="row">
                        <div class="col-md-4 col-12" th:each="item: ${videos}">
                            <div class="card">
                                <img class="card-img-top"
                                     th:src="${item.imageUrl}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <div class="papa">
                                        <!-- <div class="avatar">
                                            <img
                                                src="https://yt3.ggpht.com/ytc/AAUvwnhxufS-hC81FZWsAys8tKn8Cb4ErxewwdafVM_Kvg=s176-c-k-c0x00ffffff-no-rj"
                                                alt="avatar">
                                        </div> -->
                                        <div class="card-title" th:text="${item.name}">
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        <div th:text="${item.view}" th:remove="tag"></div> lượt xem    <div th:text="${#dates.format(item.createdDate, 'dd-MMM-yyyy')}" th:remove="tag"></div>
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>