<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/web :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.user.profile}"></title>
</head>
<body>

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1 th:text="${user.lastName}"></h1>
                    <div class="user" style="margin-left: 280px;">
                        <div class="user-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="user-content">
                            <p th:text="${user.email}"></p>
                        </div>
                    </div>
                    <div class="user" style="margin-left: 280px;">
                        <div class="user-icon">
                            <i class="fas fa-address-card"></i>
                        </div>
                        <div class="user-content">
                            <p th:text="${user.address}"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-12" th:each="item: ${videos}">
                        <div class="card-movies" >
                            <div class="card-image">
                                <img class="card-img-top" th:src="@{${item.imageUrl}}" alt="Card image cap">
                                <div class="info-movies">
                                    <h4 th:text="${item.name}"></h4>
                                    <p class="from_the_blog_excerpt " th:text="${item.brief}"></p>
                                    <p class="card-text">
                                    <div th:text="${item.view}" th:remove="tag"></div> lượt xem    <div th:text="${#dates.format(item.createdDate, 'dd-MMM-yyyy')}" th:remove="tag"></div>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>