<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/video :: main-fragment (~{::head}, ~{::body})}">
<head>
    <title th:text="#{label.video.show}"></title>
    <link rel="stylesheet" th:href="@{/template/video/css/list.css}" type="text/css" media="all"/>
    <style>
        .w3_content_agilleinfo_inner {
            padding: 0em 0;
        }
    </style>
    <script th:src="@{/template/video/js/comment.js}"></script>
</head>
<body>
<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a th:href="@{/video/trang-chu}">Trang chủ</a><i>//</i></li>
            <li>Xem Video</li>
        </ul>
    </div>
</div>
<!-- //breadcrumb -->
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <!---728x90--->
        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">Xem Video</h3>
        </div>
        <div class="latest-news-agile-info">
            <div class="col-md-8 latest-news-agile-left-content">
                <div class="single video_agile_player">
                    <div class="video-grid-single-page-agileits">
                        <div data-video="f2Z65fobH2I" id="video">
                            <img th:src="@{${video.imageUrl}}" onerror="imgVideoError(this)" alt=""/>
                            <div id="play" ></div>
                            <input type="hidden" th:value="${video.videoUrl}" id="ip-video-url">
                            <video width="100%" src="#" controls class="hide">
                            </video>
                        </div>
                    </div>

                </div>

                <!---728x90--->
                <div class="response">
                    <h4 class="desc" th:text="${video.name}">
                    </h4>
                    <div class="video-info">
                        <div class="info-view">
                            <p th:text="${video.view}+' lượt xem'"></p>
                            <p th:text="'Được đăng vào ngày '+${#dates.format(video.createdDate,'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="danh-gia">
                            <button class="btn btn-info">Like</button>
                            <p th:text="${video.totalLike}+' lượt thích'"></p>
                        </div>
                    </div>
                    <div class="video-user-info">
                        <div class="info">
                            <div class="user-img">
                                <img th:src="@{${video.user.photoUrl}}" alt="">
                            </div>
                            <div class="video-user">
                                <a th:href="@{'/danh-sach-video-'+${video.user.id}}" class="name"
                                   th:text="${video.user.firstName}+' '+${video.user.lastName}"></a>
                                <p class="dang-ky" th:text="${video.user.followers.size()}+' người theo dõi'"></p>
                            </div>
                        </div>
                        <button class="btn btn-primary">Theo dõi</button>
                    </div>
                    <div class="video-brief">
                        <div class="content" th:utext="${video.brief}">
                        </div>
                    </div>
                    <h3>Bình Luận</h3>
                    <div id="comments" class="blog-detail-ct">
                        <h4 th:text="${totalComment}+' Bình luận'"></h4>
                        <div id="new-comment"></div>
                        <th:block th:each="comment: ${comments}">
                            <div class="cmt-item flex-it" th:id="cm_+${comment.id}">
                                <img th:src="@{${comment.user.photoUrl}}" alt=""
                                     style="width: 65px;height: 65px; border-radius:50px; ">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a th:href="@{'/danh-sach-video-'+${comment.user.id}}"
                                               th:text="${comment.user.userName}"></a></h6>
                                        <span class="time" th:text="${comment.thoiGianDang}"></span>
                                    </div>
                                    <p th:text="${comment.content}" class="cm-content"
                                       style="min-width: 600px;"></p>
                                    <p><a class="rep-btn" th:onclick="showReplyCm([[${comment.id}]])">+
                                        Trả lời</a></p>
                                    <p th:if="${comment.subCommentCount>0}" class="show-subcomment"
                                       th:onclick="loadSubComment([[${comment.id}]])"
                                       th:text="'Xem phản hồi'"></p>
                                    <div class="evaluate">
                                                        <span th:text="${comment.totalLike}"
                                                              th:id="totalLike+${comment.id}"></span>
                                        <p class="like-cm" sec:authorize="hasRole('USER')"
                                           th:onclick="likeComment([[${comment.id}]])"
                                           th:id="like-cm_+${comment.id}">
                                            <i class="fas fa-thumbs-up"
                                               th:if="${comment.like == 1}"></i>
                                            <i class="far fa-thumbs-up"
                                               th:if="${comment.like != 1}"></i>
                                            <input type="hidden" th:name="comment_like_+${comment.id}"
                                                   th:id="ip-content_+${comment.id}"
                                                   th:value="${comment.like}">
                                        </p>
                                        <p class="like-cm" sec:authorize="!hasRole('USER')"
                                           th:id="like-cm_+${comment.id}">
                                            <i class="far fa-thumbs-up"></i>
                                        </p>
                                        <p class="delete-cm" sec:authorize="hasRole('USER')"
                                           th:onclick="warningBeforeDelete([[${comment.id}]])"
                                           th:if="${comment.user.id.equals(#authentication.principal.id)}">
                                            <i class="far fa-trash-alt"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div th:id="new-sub-cm_+${comment.id}"></div>
                            <div th:class="'sub-comment_'+${comment.id}">
                                <input type="hidden" th:id="'sub-page_'+${comment.id}" value="1">
                            </div>
                        </th:block>
                        <div id="comment_list">
                            <input type="hidden" id="comment-page" name="page" value="1">
                            <p class="show-comment" th:onclick="loadComment([[${video.id}]],2)">
                                Xem thêm bình luận</p>
                        </div>

                        <div class="comments"></div>
                        <div class="comment-form">
                            <h4 th:text="#{label.comment.please}"></h4>
                            <div class="cmt-item flex-it hide" id="cm-reply">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a href="#"></a></h6>
                                        <span class="time"></span>
                                    </div>
                                    <div class="close"><a><i class="fas fa-times"></i></a></div>
                                    <p id="reply-content" style="min-width: 600px;"></p>
                                </div>
                            </div>
                            <form id="form-comment-video">
                                <div class="row">
                                    <div class="col-md-12">
                                                    <textarea name="content" id="comment-content-txt"
                                                              th:placeholder="#{label.comment}"></textarea>
                                    </div>
                                    <input type="hidden" name="video.id" th:value="${video.id}">
                                    <input type="hidden" id="reply-cm-id">
                                </div>
                                <button class="btn btn-primary" id="btn-submit">Gửi</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!---728x90--->
            </div>
            <div class="col-md-4 latest-news-agile-right-content">
                <h4 class="side-t-w3l-agile">Video <span>tiếp theo</span></h4>
                <div class="item row" th:each="videoNominate: ${videoNominates}">
                    <div class="col-md-6">
                        <div class="trailer-img">
                            <img th:src="@{${videoNominate.imageUrl}}" onerror="imgVideoError(this)" ;
                                 alt="photo by Barn Images">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="trailer-infor">
                            <h4 class="desc"><a th:href="@{'/video/xem-video/'+${videoNominate.id}}"
                                                th:text="${videoNominate.name}"></a></h4>
                            <p><a href="" th:text="${videoNominate.user.userName}"></a></p>
                            <p th:text="${videoNominate.view}+' lượt xem'"></p>
                            <p th:text="${#dates.format(videoNominate.createdDate, 'dd-MM-yyyy')}"></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="agile-info-recent">
                    <div class="w3ls-recent-grids">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<input type="hidden" id="ip-videoId" name="videoId" th:value="${video.id}">

<!--//content-inner-section-->
<script>
    $('#play').click(function () {
        $('#video').children('img').hide();
        $('#play').css('background-image', 'url(play-button.png), url(' + $('#video').children().attr('src') + ')').hide();
        var url = $('#ip-video-url').val();
        $('video').attr("src",url);
        $("video").removeClass("hide");
        $("video").get(0).play();
    });


    $('#form-comment-video').submit(function (e) {
        e.preventDefault();
        var formData = $('#form-comment-video').serializeArray();
        var data = convertToJson(formData);
        var url = "/api/video/comment";
        commentVideoApi(data, url, "post", undefined);
    });

    $(document).ready(function () {
        $("#owl-demo").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds
            autoPlay: true,
            navigation: true,

            items: 5,
            itemsDesktop: [640, 4],
            itemsDesktopSmall: [414, 3]

        });

    });
</script>
</body>
</html>