<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>

<nav class="cs-navbar navbar navbar-dark bg-primary navbar-expand fixed-top" th:fragment="header">
    <a class="navbar-brand " th:href="@{/admin/home-page}" th:utext="#{label.admin.page}"></a>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="btn btn-outline-light" onclick="closeAndOpenNav()"><i class="fas fa-bars"></i></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/trang-chu}" th:utext="#{label.home.page}">
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline" style="margin-bottom: auto;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" th:utext="#{label.search}"></button>
        </form>
        <!-- Navbar-->
            <div class="navbar-nav" sec:authorize="hasAnyRole('ADMIN','POSTER','MANAGER')">
                <a class="nav-link" href="#">Welcome
                    <div th:text="${#request.userPrincipal.getName()}" th:remove="tag"></div>
                </a>
            </div>
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/admin/personal/information}">Cài đặt trang cá
                    nhân</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/account/logout-admin}" th:utext="#{label.logout}"></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>
</script>
</body>
</html>