<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="preloader" th:fragment="footer">
    <div class="contact-w3ls" id="contact">

        <div class="col-md-2 footer-grid">
            <h4>Liên Hệ</h4>
            <ul>
                <a href="#">Số ĐT: 0342552949</a>
                <br><a href="#">Email: Hoangthai150199@gmail.com</a>
                <br><a href="#">Địa chỉ: 366 Lê Đại Hành, Đà Nẵng </a>
            </ul>
        </div>
        <div class="col-md-2 footer-grid">
            <h4>Điều khoản</h4>
            <ul>
                <a href="#">Điều khoản sử dụng</a>
                <br><a href="#">Chính sách bảo mật</a>
                <br><a href="#">Bảo vệ </a>

            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>